* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

@font-face {
    font-family: 'Archivo Black';
    src: 
        url('./fonts/ArchivoBlack-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Archivo';
    src: 
        url('./fonts/Archivo-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

:root {
    --cor-primaria: #a6e9ce;  
    --cor-primaria-tom-escuro: #6C9282;
    --cor-primaria-tom-claro: #E6F5EF;

    --cor-secundaria: #F67704; /* Verde */
    --cor-secundaria-tom-escuro: #fa8211; 
    --cor-secundaria-tom-claro: #ff9b3d; 
    
    --cor-fundo: #f8f8f8;     /* Cinza Claro */
    --cor-texto: #333333;     /* Preto */
}

body {
    background-color: var(--cor-fundo);
    font-family: 'Montserrat', sans-serif;
}

nav {
    height: 90px;
}

nav>div {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    height: 90px;
    width: 1191px;
    margin: auto;
}

div.search-bar > input {
    padding: 5px 10px;
    border-radius: 15px;
    border-width: 1px;
    border-style:solid;
    min-width: 400px;
    min-height: 30px;
    border-color: var(--cor-secundaria);
    color: rgb(109, 109, 109);;
}

div.search-bar > input:focus{
    outline-color: var(--cor-secundaria);
}

div.search-bar > input::placeholder{
    color: var(--cor-texto);
}

button.btn-cadastrar {
    padding: 8px 10px;
    border-radius: 10px;
    border-style: none;
    color: var(--cor-fundo); 
    background-color: var(--cor-secundaria-tom-escuro);
}

button.btn-cadastrar:hover {
    background-color: var(--cor-secundaria-tom-claro);
}

header {
    height: 336px;
    background-color: var(--cor-primaria);
    font-size: 26px;
    font-weight: 600;
}

header>div {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 1280px;
    height: 336px;
    margin: auto;
}

header div.imagem-header {
    width: 464px;
    height: 336px;
    background-color: aqua;
    background-image: url('image/header.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

section.filtro {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    height: 120px;
    margin: 60px auto 20px auto;
}

div.icones {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    height: 132px;
    width: 1004px;
}

div.icones p{
    text-align: center;
    margin-top: 5px;
    font-weight: 700;
    color: var(--cor-secundaria-tom-escuro);
}

.icone {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 90px;
    width: 99px;
    border-radius: 12px;
    border: 2px solid var(--cor-secundaria);  
}

div.icones a {
    text-decoration: none;
}

section.filtro-secundario {
    margin: auto;
    margin-bottom: 10px;
    width: 1010px;
    font-weight: 550;
}

div.container-filtro-secundario{
    height: 34px; 
    display: flex;
}

section.filtro-secundario a {
    text-decoration: none;
    font-size: 12px;
    margin: auto 20px auto 5px;
    color: var(--cor-fundo);
    padding: 8px;
    background-color: var(--cor-secundaria-tom-escuro);
    border-radius: 10px;
}

section.filtro-secundario a:hover {
    background-color: var(--cor-secundaria-tom-claro);
}

.filter-btn.foco {
    background-color: var(--cor-secundaria-tom-claro);
}

div.titulo-container-eventos-encontrados {
    width: 1010px;
    margin: auto;
    margin-bottom: 8px;
}

div.container-eventos-encontrados {
    width: 1010px;
    height: 650px;
    margin: auto;
    overflow-y: auto;
    display: flex;
    flex-direction: column;
    margin-bottom: 50px;
}

.container-eventos-encontrados::-webkit-scrollbar {
    display: none;
}

div.container-eventos-encontrados h1 {
    font-size: 24px;
    margin-bottom: 5px;
}

div.container-eventos-encontrados hr {
    border: none; 
    height: 2px;
    background-color: var(--cor-primaria-tom-escuro); 
    width: 100%;
    margin-bottom: 15px;
}

div.container-evento {
    display: flex;
    height: 266px;
    width: 999px;
    background-color: var(--cor-primaria-tom-claro);
    margin: 0px auto 60px auto;
    padding: 0;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.3);
}

div.container-evento div.informacoes-evento-encontrado {
    width: 660px;
}

div.container-evento div.imagem-evento-encontrado {
    width: 338px;
    background-color: var(--cor-secundaria);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

div.container-evento div.informacoes-evento-encontrado h1{
    font-size: 28px;
    margin-left: 20px;
    margin-top: 10px;
}

div.container-evento div.informacoes-evento-encontrado p{
    font-size: 18px;
    font-weight: 500;
    margin-top: 10px;
    margin-bottom: 10px;
}

div.container-evento div.informacoes-evento-encontrado p.data-hora {
    margin-left: 20px;
    margin-top: 30px;
    line-height: 1.9;
}

div.container-evento div.informacoes-evento-encontrado p.descricao {
    margin-left: 20px;
    margin-top: 30px;
    line-height: 1.6;
}

section.recomendados {
    height: 336px;
    background-color: var(--cor-primaria);
}

section.recomendados > div {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 1280px;
    height: 336px;
    margin: auto;
}

footer {
    display: flex;
    height: 25px;
    background-color: var(--cor-fundo);
}

footer > div {
    color: black;
    margin: auto;
    font-size: 13px;
}

footer a { 
    color: black;
    font-weight: 700;
    text-decoration: none;
}



