* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

@font-face {
    font-family: 'Archivo Black';
    src: 
        url('./fonts/ArchivoBlack-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Archivo';
    src: 
        url('./fonts/Archivo-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

body {
    background-color: #f8f8f8;
    font-family: 'Archivo Black', sans-serif;
}

nav {
    height: 90px;
}

nav>div {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    height: 90px;
    width: 1191px;
    margin: auto;
}

div.search-bar > input {
    padding: 5px 10px;
    border-radius: 15px;
    border-width: 1px;
    border-style:solid;
    min-width: 400px;
    min-height: 30px;
    border-color: #F67704;
    color: rgb(109, 109, 109);;
}

div.search-bar > input:focus{
    outline-color: #F67704;
}

div.search-bar > input::placeholder{
    color: rgb(109, 109, 109);
}

button.btn-cadastrar {
    padding: 8px 10px;
    border-radius: 10px;
    border-style: none;
    color: #f8f8f8;
    background-color: #F67704;
}

button.btn-cadastrar:hover {
    background-color: #ff8b1e;
}

header {
    height: 336px;
    background-color: #c4eadb;
    font-size: 24px;
}

header>div {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 1280px;
    height: 336px;
    margin: auto;
}

header div.imagem-header {
    width: 464px;
    height: 336px;
    background-color: aqua;
    background-image: url('image/header.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

section.filtro {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin: 40px auto 30px auto;
}

div.icones {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    height: 132px;
    width: 1004px;
}

div.icones>div {
    height: 131px;
    width: 109px;
}

div.icones p{
    text-align: center;
    margin-top: 5px;
    font-family: 'Archivo', sans-serif;
    font-weight: 500;
    color: #F67704;
}

.icone {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 109px;
    border-radius: 12px;
    border: 2px solid #F67704;  
}

div.icones a {
    text-decoration: none;
}

section.filtro-secudario {
    margin: auto;
    margin-bottom: 10px;
    width: 1010px;
    font-family: 'Archivo', sans-serif;
    font-weight: 550;
}

div.container-filtro-secundario{
    height: 34px; /* Define uma altura visível */
    display: flex;
}

section.filtro-secudario a {
    text-decoration: none;
    font-size: 12px;
    margin: auto 20px auto 5px;
    color: black;
    padding: 8px;
    background-color: #C1E9D8;
    border-radius: 10px;
}

section.filtro-secudario a:hover {
    background-color: #C1E9D8;
}

div.titulo-container-eventos-encontrados {
    width: 1010px;
    margin: auto;
    margin-bottom: 8px;
}

div.container-eventos-encontrados {
    width: 1010px;
    height: 630px;
    margin: auto;
    overflow-y: auto;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.container-eventos-encontrados::-webkit-scrollbar {
    display: none;
}

div.container-eventos-encontrados h1 {
    font-size: 24px;
    margin-bottom: 5px;
}

div.container-eventos-encontrados hr {
    border: none; 
    height: 2px;
    background-color: #6C9282; 
    width: 100%;
    margin-bottom: 15px;
}

div.container-evento {
    display: flex;
    height: 266px;
    width: 999px;
    background-color: #E6F5EF;
    margin: auto;
    padding: 0;
    margin-bottom: 50px;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.3);
}

div.container-evento div.informacoes-evento-encontrado {
    width: 660px;
}

div.container-evento div.imagem-evento-encontrado {
    width: 338px;
    background-color: #F67704;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

div.container-evento div.informacoes-evento-encontrado h1{
    font-size: 30px;
    margin-left: 20px;
    margin-top: 10px;
}


div.container-evento div.informacoes-evento-encontrado p{
    font-size: 18px;
    font-family: 'Archivo', sans-serif;
    font-weight: 550;
    margin-top: 10px;
}

div.container-evento div.informacoes-evento-encontrado p.data-hora {
    margin-left: 20px;
    margin-top: 30px;
    line-height: 1.9;
}

div.container-evento div.informacoes-evento-encontrado p.descricao {
    margin-left: 20px;
    margin-top: 30px;
    line-height: 1.6;
}








